<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <style>
                body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
                h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
                h1 { font-size: 36px; }
                h2 { font-size: 21px; margin-bottom: 1em; }
                p { margin: 0 0 1em 0; }
                a { color: #0000F0; }
                a:hover { text-decoration: none; }
                code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
                #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
                #container { padding: 2em; }
                #welcome h1 span { display: block; font-size: 75%; }

                .flash-error {
                    color: red;
                }

                .flash-success {
                    color: darkgreen;
                }

                @media (min-width: 768px) {
                    #wrapper { width: 80%; margin: 2em auto; }
                    #status a, #next a { display: block; }

                    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                }
            </style>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="container">

                {% set currentRoute = app.request.get("_route") %}
                <div class="mb-5">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link{% if currentRoute == "add_edit_action" %} active{% endif %}" href="{{ path("add_edit_action") }}">Add/Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if currentRoute == "list_action" %} active{% endif %}" href="{{ path("list_action") }}">List</a>
                        </li>
                    </ul>

                </div>

                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
