{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    {% set editing = app.request.attributes.get('id') > 0 %}

    {% if editing %}
        <h2>Editing entry #{{ app.request.attributes.get('id') }}</h2>
    {% else %}
        <h2>Add a new Address book entry</h2>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">{% if editing %}Edit{% else %}Add{% endif %} entry</button>
    {{ form_end(form) }}

{% endblock %}
