{% extends 'base.html.twig' %}

{% block body %}

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}" role="alert">{{message}}</div>
                {% endfor %}
            {% endfor %}

            {% if entries %}

                {% for entry in entries %}
                <table class="table table-striped table-bordered ">

                    <tbody>
                    <tr>
                        <td>Firstname</td>
                        <td>{{ entry.firstname }}</td>
                        <td rowspan="6">
                            <div>

                                [<a href="{{ path('delete_action', {id: entry.id}) }}" onclick="return confirm('Are you sure?')">X</a>]
                                /
                                [<a href="{{ path('add_edit_action', {id: entry.id}) }}">Edit</a>]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Lastname</td>
                        <td>{{ entry.lastname }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ entry.address1 }}, {{ entry.zip }}, {{ entry.city }}, {{  entry.country }}</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>{{ entry.birthday| date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ entry.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ entry.email }}</td>
                    </tr>
                    {% if entry.picture %}
                    <tr>
                        <td rowspan="7" colspan="3">
                            ​<picture>
                                <img src="{{ asset('pictures/' ~ entry.picture.filename) }}" class="img-fluid img-thumbnail" alt="...">
                            </picture>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>

                </table>
                {% endfor %}
            {% else %}
                <span>no entries lol</span>
            {% endif %}
{% endblock %}

